# Compiler files
cache/
out/

# Ignores development (and goerli) broadcast logs
!/broadcast
/broadcast/*/31337/
/broadcast/*/5/
/broadcast/**/dry-run/
/broadcast/00_DeployHookFirewall.s.sol/1301/

# Dotenv file
.env

# Node modules
node_modules/
frontend/dist/
*.tsbuildinfo
frontend/
lib/

context/
coverage/
